# This file will be read automatically by  `docker-compose` but perhaps not by
# other tools.
PYTHON_IMAGE_VERSION=3.7-slim-buster

# Airflow Config
AIRFLOW_VERSION=1.10.9
AIRFLOWUI_PORT=8080

# Docker Config
COMPOSE_PROJECT_NAME=airflow-sandbox
REPONAME=airflow-sandbox

# Celery Config
CELERY_PORT=5555
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=

# Redis Config -- name of an official REDIS docker image to use.
REDIS_VERSION=5.0.5
#REDIS_USER=
#REDIS_PASSWORD=
REDIS_DBNUM=1
REDISINSIGHT_PORT=8085

# Postgres Config
#POSTGRES_VERSION=12.3-alpine
POSTGRES_VERSION=9.6
POSTGRES_DATABASE=airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_PORT=5432

# Adminer Config
ADMINER_PORT=8087

# Mailhog
# Containers in this network can send mail by configuring mailhost as 
# "smtp" (the name of the service in the dockerfile), and the MAILHOG_SMTP_PORT
# below.
MAILHOG_WEB_PORT=8088
MAILHOG_SMTP_PORT=1025
